
  <section>
    <div class="container mt-5">
      <div class="row">
        {{#each mess_committee}}
        <div class="col-md-3 mt-5">
          <div class="card" style="width: 18rem;">
            <img src="{{this.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.position}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="row">
        {{#each mess_committe2}}
        <div class="col-md-3 mt-3">
          <div class="card" style="width: 18rem;">
            <img src="{{this.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.position}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>

 